/*Style sheet for BDTech website*/

/*Defaults and general declarations*/

body{
	margin:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;

	--dark-blue: #162D50;
	--aqua-green: #6f8a91;
	--just-blue: #5f8dd3;
	--light-blue: #87aade;
	--eyes-yellow: #decd87;

	background-color: var(--dark-blue);
}

/*Light theme*/
@media (prefers-color-scheme: light) {
}

/*Dark theme*/
@media (prefers-color-scheme: dark) {
}

/*General style sheet*/

/* ==== HEADER ==== */
header{
	overflow: hidden;
}

.header-content-container{
	background-color: var(--aqua-green);
	width: 105%;
	padding: 10px 10px 0 10px;
	border-bottom: medium solid var(--light-blue);
	transform-origin: bottom left;
	transform: rotate(-3deg);
}

header a:not(li > a){ /* Matches links in the header that are not in a list element */
	margin: 0 0 0 20px;
}

header h1{
	margin: 0 0 0 10px;
	color: var(--dark-blue);
}

.header-logo-name{
	width: max-content;
	text-decoration: none;
	display: flex;
	align-items: center;
	transform-origin: bottom left;
	transform: rotate(3deg);
}

nav{
	margin: 0 0 0 20px;
}

header nav ul{
	margin: 0;
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
}

nav li{
	margin: 0;
	padding: 10px 50px;
	font-weight: bold;
	border-top: 4px solid transparent;
}

nav li:hover{
	background-color: #ffffff2f;
	font-weight: 800;
	border-top: 4px solid #00b800; 
}

/* ==== BODY ==== */
body{
	background-color: var(--dark-blue);
	color: white;
	padding: 10px 2px 10px 0;
}

main article{
	display:flex;
	align-items: center;
	flex-flow: row wrap;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	padding: 0 0 0 3em;
}

.mini-sec-left{
	flex: 2 400px;
	padding: 0 7em;
}

.mini-sec-right{
	flex: 1 400px;
	padding: 0 3em;
	text-align: center;
}

.mini-sec-left h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}

.mini-sec-left p{
	text-align: justify;
}

.mini-sec-right img{
	filter: invert(100%);
	max-width: 400px;
}

@media (max-width: 55em){
	.mini-sec-left, .mini-sec-right{
		padding: 0 1.5em;
	}

	.mini-sec-left p{
		text-align: left;
	}

	.mini-sec-right img{
		width: auto;
	}

	main article{
		padding: 0 0 0 0.5em;
	}
}

hr.inter-sec{
	border: 56px solid transparent;
	background-origin: border-box;
}

hr.inter-sec:nth-of-type(3n+1){
	background-image: url("./assets/hr/hr-1.svg");
}

hr.inter-sec:nth-of-type(3n+2){
	background-image: url("./assets/hr/hr-2.svg");
}

hr.inter-sec:nth-of-type(3n+3){
	background-image: url("./assets/hr/hr-3.svg");
}

/* ==== FOOTER ==== */
footer{
	background-color: var(--eyes-yellow);
	padding: 10px 20px;
	color: black;
	grid-row: 4/5;
	grid-column: 1/2;
	display: flex;
	align-items: center;
}

#copyright-info{
	color: var(--dark-blue);
	margin: 0 1em;
}

#useful-links{
	padding: 0;
	list-style-type: none;
}

#useful-links li{
	display: inline-block;
	margin: 0 1em;
	color: var(--just-blue);
}
